*{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
.fto{
    border: 2px solid white;

}
.ft{
    font-size: 30px;
}
.rr{
    font-weight: bolder;
    letter-spacing: 5px;
}
.headkill{
    margin-top: 12vh;
    border-radius: 1%;
    height: 100%;
    background-image: url("./img/right.png");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    border: 5px solid black;
    /*justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;*/
}
.heading{
    color:whitesmoke;
    /*color: #114457;*/
  /*  position: relative;
    top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
    position: fixed;
    top: 25%;
    right: 25%;*/
}
.honey{
    border-radius:10%;
}
.mani:hover{
    transform: rotate(360deg);
    transition: 0.5s ease;
    padding: 10px;
    background-image: url("./img/arrow.png");
}
.mani{
    border: 4px solid black;
    border-radius: 30px;
}
html,
body {
    height: 100%;
    width: 100%;
    color: #222;
    scroll-behavior: smooth;
}
a {
    text-decoration: none !important;
}

.navbar {
    padding: 12px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 24px !important;
    /*font-size: 17.5px !important;*/
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h2 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 16px;
}

.carousel {
    margin-top: 80px;
}

.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

.jumbotron {
    padding: 16px;
    border-radius: 0;
}

.padding {
    padding-bottom: 32px;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 32px;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 16px;
}

.fa-code {
    color: #e54d26;
}
.fa-bold {
    color: #563d7c;
}
.fa-css3 {
    color: #2163af;
}

.social a {
    font-size: 72px;
    padding: 48px;
}

.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced;
}
.fa-instagram {
    color: #c13584;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
    color: #d5d5d5;
}

#registrationForm {
    border: 1px solid #ddd;
    margin: 40px 0;
}

#registrationForm .col-md-4 {
    padding: 40px 20px;
}

#registrationForm .form-control {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    font-size: 18px;
}

footer {
    background-color: black;
    color: #d5d5d5;
    padding-top: 32px;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 13px;
    margin-bottom: 16px;
}

footer a {
    color: #d5d5d5;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 16px;
}

time {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    background: #ababab;
    color: #ffffff;
    padding: 2.5px 5px;
    border-radius: 5px;
}



#registrationForm {
    border: 1px solid #ddd;
    margin: 40px 0;
    box-shadow: 5px 10px 10px 10px #ddd;
}

#registrationForm .col-md-6 {
    padding: 40px 20px;
}

#registratioForm label {
    font-size: 16px;
}
#registrationForm .form-control {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #ddd;
    padding: 0;
    font-size: 18px;
}
/*---Media Queries --*/
@media (max-width: 1024px) {
    .mani{
        width: 40%;
    }
    .carousel-caption {
        top: 50%;
    }
    .carousel-caption h1 {
        font-size: 350%;
    }
    .carousel-caption h2 {
        font-size: 350%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        font-weight: 400;
        padding-bottom: 3px;
    }

    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    .display-4 {
        font-size: 200%;
    }
    /* .display-3 {
        font-size: 100%;
    } */
    .social a {
        font-size: 64px;
        padding: 32px;
    }
}
@media (max-width: 768px) {
    .mani{
        width: 40%;
    }
    .social a {
        font-size: 50px;
        padding: 19px;
    }
    .carousel-indicators {
        display: none;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-caption h2 {
        font-size: 250%;
    }

    .carousel-caption h3 {
        font-size: 120%;
        font-weight: 300;
        padding-bottom: 3px;
    }
}
@media (max-width: 576px) {
    .mani{
        width: 40%;
    }
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h2 {
        font-size: 150%;
    }

    .carousel-caption h3 {
        font-size: 90%;
    }

    .carousel-caption .btn {
        font-size: 80%;
        padding: 4px 8px;
    }

    .display-4 {
        font-size: 160%;
    }
    .social a {
        font-size: 40px;
        padding: 11.2px;
    }
    .card-text {
        font-size: 14px;
    }
    .welcome {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .mani{
        width: 40%;
    }
    .carousel-caption h1 {
        font-size: 110%;
    }
    .carousel-caption h2 {
        font-size: 110%;
    }

    .carousel-caption h3 {
        font-size: 70%;
    }

    .carousel-caption .btn {
        font-size: 60%;
        padding: 4px 8px;
    }
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 8px;
}
